@import 'variables';
@import 'fonts';

.article {
    margin-top: 3rem;

}

.article_titre{
    font-weight: bold;
    color: $text_color;
    padding: 2rem;
    margin-left: 50%;
    transform:translate(-50%);
    text-align: center;
    font-size: 5rem;
    text-decoration: underline;

} 

.article_content {
    margin-left: 50%;
    transform:translate(-50%);
    max-width: 80%;
    padding: 2rem;
    border-radius: 5px;
    color: $text_color;
}

.article_img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 50%;
    transform:translate(-50%);
    max-width: 80vw;
    max-height: 50%;
    border-radius: .5rem;
}