@import 'reset';
@import 'variables';
@import 'fonts'; 

.logo {
  max-height: 4rem;
  img {
    max-height: 5rem;
  }
}

body {
  font-family: $font-family;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 6.5rem auto 5rem;
  grid-template-areas: 'header' 'main' 'footer';
}

header { 
  z-index: 10;
  @include flex(center, space-between);
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $secondary_color;
  color: $maincolor;
  padding: 2rem 4rem;
  border-radius: 0 0 5px 5px;

  div {
    width: 8rem;

    a {
      display: block;
    }

    img {
      max-width: 100%;
    }
  }

  nav {
    ul {
      @include flex(center, center);
      gap: 1rem;
    }
  }
}

main {
  grid-area: main;

}

footer {
  @include flex(center, center);
  grid-area: footer;
  background-color: $secondary_color;
  color: $maincolor;
  padding: 2rem 4rem;
  border-radius: 5px 5px 0 0;


}


@import 'auth';
@import 'signup';
@import 'home';
@import 'newpost';
@import 'profile';
@import 'category';
@import 'categories';
@import 'article';
  
@import 'posts';


