@import './reset';
@import './variables';
@import './fonts'; 

html {
  background-color: #b3b3b3;
}

.logo {
  max-height: 4rem;
  img {
    max-height: 5rem;
  }
}

body {
  font-family: $font-family;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 6.5rem auto 5rem;
  grid-template-areas: 'header' 'main' 'footer';
}

header { 
  @include flex(center, space-between);
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $maincolor;
  color: $white;
  padding: 2rem 4rem;

  div {
    width: 8rem;

    a {
      display: block;
    }

    img {
      max-width: 100%;
    }
  }

  nav {
    ul {
      @include flex(center, center);
      gap: 1rem;
    }
  }
}

main {
  padding: 4rem; 
  grid-area: main;

}

footer {
  @include flex(center, center);
  grid-area: footer;
}



@import 'auth/auth.scss';
@import 'auth/signup.scss';
@import 'home/home.scss';
@import 'newpost/newpost.scss';
@import 'profile/profile.scss';
@import 'categories/category.scss';
@import 'categories/categories.scss';
@import 'categories/article.scss';
  